body {
    background: linear-gradient(to right, #a6f9a4 0%, #fcb8d1 100%);
}
h1 {
  font:calibri;
  text-align: center;
  font-weight: 100;
  font-size: 100px;
  margin-left: 100px;
  margin-right: 100px;

}

p {
  font:calibri;
  text-align: center;
  font-size: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

.button{
    height:60px;
    width:120px;
    background-color: #99eeff;
    margin-left: 240px;
    font:calibri;
    font-size: 20px;
}
